body{
    background-image: url(../images/cityscape.jpg);
    background: url("../images/cityscape.jpg") no-repeat top center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
    color: white;
}
